:root {
    --dark: #0a1f38;
    --dark-middle: #1b2f46;
    --dark-light: #2f4056;
    --gray: #9da5af;
    --green-dark: #819400;
    --green-middle: #97ab0d;
    --green: #a5bb0c;
    --green-light: #b1c909;
    --white: #fff;
    --error: #FF7461;

    --font-family: "Montserrat", sans-serif;
    --second-family: "Cera Pro", sans-serif;
    --third-family: "Montserrat Alternates", sans-serif;
}